@font-face {
    font-family: Tavolga;
    src: url("../fonts/Tavolga.ttf");
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Extrabold.ttf");
    font-weight: 800;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*header*/

.header {
    background-color: rgb(235, 168, 177);
    padding: 38px 0 25px 0;
    position: sticky;
    top: 0;
    z-index: 10001;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    width: 314px;
    justify-content: space-between;
}

.main {
    overflow: hidden;
}

.link-item {
    list-style: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 3px;
    transition: all 0.3s linear;
}

.link-item:hover {
    border-bottom: solid #821328 1px;
}

.link-item a {
    font-size: 14px;
    font-family: "Gilroy", sans-serif;
    color: rgb(119, 11, 29);
    font-weight: 600;
}

.phone a {
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

/*section main*/

.main {
    padding: 143px 0 108px 0;
    background-color: rgb(235, 168, 177);
}

.main .container {
    display: flex;
}

.main-text-header {
    font-size: 55px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
}

.main-text p {
    font-size: 18px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    max-width: 345px;
    margin-bottom: 80px;
    line-height: 1.389;
}

.btn {
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
    border: none;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    box-shadow: 0px 6px 9px 1px rgba(130, 19, 40, 0.9);

}

.btn-main {
    font-size: 18px;
    padding: 22px 0;
    width: 240px;
    height: 60px;
}

.main-image {
    position: relative;
    width: 500px;
    height: 500px;
    /*transition-timing-function: cubic-bezier(.25, .1, .25, 1);*/
    /*все то что ниже позиционирует анимацию */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    z-index: 1;
    position: relative;
}

.main-image::before,
.main-image::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: transparent;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(129, 31, 53, 0.9);
    animation: pulse 3s infinite;
}

.main-image::after {
    animation: pulse 3s infinite 0.7s;

}


@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
        transition: linear;
    }


    100% {
        transform: scale(1.4);
        opacity: 0;
        transition: linear;
    }

}


/*big pink macaroon section*/

.big-macaroon {
    background: #ffefef;
    padding: 119px 0 31px 0;
}

.big-macaroon .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.macaroon-header {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    max-width: 473px;
    margin-bottom: 60px;
}

.macaroon-text p {
    max-width: 397px;
    font-size: 18px;
    font-family: "Gilroy", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
}

/*advantages block*/
.advantages {
    background: #ffefef;
    padding: 58px 0 125px 0;
}

.advantages-block {
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-column-gap: 94px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 219px));
    grid-column-gap: 88px;
}

.advantage-number {
    font-weight: 800;
    font-size: 60px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.75;
    border-radius: 50%;
    background: #821328;
    width: 70px;
    height: 70px;
    position: relative;
    transition: all .3s linear;
    margin-bottom: 12px;
}

.number {
    position: absolute;
    bottom: -5.9px;
    left: 20px;
}

.advantage:hover .advantage-number {
    background: #eba8b1;
    color: #821328;
}


.advantage-header {
    font-size: 20px;
    font-family: "Gilroy", sans-serif;
    color: rgb(51, 25, 7);
    font-weight: 800;
    margin-bottom: 19px;
}

.advantage-context {
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
    font-weight: 600;
    /*max-width: 209px;*/
}


/*choose macaroon section*/
.choose-macaroon {
    background: #eba8b1;
    padding: 120px 0;
}

.choose-macaroon-header {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.222;
    text-align: center;
    margin-bottom: 143px;
}

.macaroon {
    width: 259px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;

}

.macaroon-image-choose {
    position: absolute;
    top: -58px;
    left: 27px;
    transition: all 0.3s linear;

}

.macaroon-name {
    font-size: 18px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 109px 0 26px 0;


}

.btn-order {
    width: 130px;
    height: 50px;
    padding: 18px 29px;
    box-sizing: border-box;
    text-align: center;
}

.macaroon-price {
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
}

.macaroon-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px 27px 21px;
    font-size: 16px;
    font-weight: 700;
}

.choose-macaroon-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 29px;
}


.macaroon:hover .macaroon-image-choose {
    transform: scale(1.2);
}

/*order section*/

.order-macaroon {
    background: #ffefef;
    padding: 98px 0 120px 0;

}

.order-macaroon .container {
    display: flex;
    align-items: center;
}

.picture-block {
    margin-right: 160px;
    position: relative;
}


.order-header {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 43px;
}

.order-text {
    font-size: 18px;
    font-family: "Gilroy", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    width: 365px;
    margin-bottom: 49px;
}

label {
    font-size: 18px;
    font-family: "Gilroy", sans-serif;
    color: rgb(18, 10, 6);
    font-weight: 700;
    margin-bottom: 20px !important;
    display: block;
}

form {
    max-width: 295px;
}

input {
    display: block;
    border: 1px solid rgb(130, 19, 40);
    border-radius: 30px;
    width: 293px;
    height: 59px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 26px 23px;
    font-family: "Gilroy", sans-serif;
    color: rgb(118, 12, 34);
    background: #ffefef;
    outline: none;

}

input::placeholder {
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: rgb(118, 12, 34);
    font-weight: 700;
}


.btn-order-section {
    width: 295px;
    padding: 22px 0;
    box-sizing: border-box;
}

.strawberry-left {
    position: absolute;
    top: -20px;
    left: -10px;
}

.strawberry-right {
    position: absolute;
    bottom: 85px;
    right: -60px;
}

.order-form {
    position: relative;
}

/*footer*/

.footer {
    background: #c0707c;
    padding: 73px 0 62px 0;
}

.footer .container {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(30px, 40px) minmax(min-content, max-content);
    align-items: center;
}

.footer-phone {
    justify-self: end;
}

.rights {
    font-size: 12px;
    font-family: "Gilroy", sans-serif;
    color: rgb(227, 172, 180);
    order: 2;
}

.footer-social p {
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 14px;
}

.footer-social {
    text-align: center;
}

.footer-phone a {
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.wrapper {
    display: block;
}

/*present*/

.present {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /*background: rgba(130, 19, 40, 1);*/
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 0.2s linear;
}


.present:hover {
    box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}


.present img {
    width: 52px;
    height: 52px;
}


.pop-up {
    border: 2px solid rgb(119, 10, 29);
    border-radius: 10px;
    background-color: rgb(254, 239, 238);
    width: 168px;
    padding: 0 11px 13px 10px;
    position: fixed;
    bottom: 36px;
    right: 144px;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.7s;
}

.present-block:hover .pop-up {
    transform: translateY(0);
    opacity: 1;

}

.popup-triangle {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(119, 10, 29);
    position: relative;
    bottom: -22px;
    left: 169px;
    transform: rotate(45deg);
    background-color: rgb(254, 239, 238);
    border-bottom: transparent;
    border-left: transparent;
}


.popup-text {
    font-size: 15px;
    font-family: "Gilroy", sans-serif;
    color: rgb(119, 10, 29);
    font-weight: 600;
}

.present-block {
    position: relative;
    animation: transition-hover-off 1s ease;
    z-index: 999;
}


.picture-block .strawberry-left {
    animation: strawberry infinite 2s;
    animation-timing-function: ease-in-out;
}

.order-form .strawberry-right {
    animation: strawberry infinite 2s;
    animation-timing-function: ease-in-out;
}

@keyframes strawberry {

    0% {
        transform: translateY(0);
        transition: linear;
    }

    50% {
        transform: translateY(20px);
        transition: linear;
    }

}


.burger {
    display: none;
}

.close {
    display: none;
}